@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
    font-weight: 1;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
    font-weight: 1;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Medium.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-MediumItalic.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}


@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-BlackItalic.eot');
    src: local('Rubik Black Italic'), local('Rubik-BlackItalic'),
    url('../fonts/Rubik/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-BlackItalic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-BlackItalic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Bold.eot');
    src: local('Rubik Bold'), local('Rubik-Bold'),
    url('../fonts/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Bold.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-BoldItalic.eot');
    src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
    url('../fonts/Rubik/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-BoldItalic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-BoldItalic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Medium.eot');
    src: local('Rubik Medium'), local('Rubik-Medium'),
    url('../fonts/Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Italic.eot');
    src: local('Rubik Italic'), local('Rubik-Italic'),
    url('../fonts/Rubik/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Italic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Italic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-MediumItalic.eot');
    src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'),
    url('../fonts/Rubik/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-MediumItalic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-MediumItalic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Regular.eot');
    src: local('Rubik Regular'), local('Rubik-Regular'),
    url('../fonts/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Black.eot');
    src: local('Rubik Black'), local('Rubik-Black'),
    url('../fonts/Rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Black.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Black.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Light.eot');
    src: local('Rubik Light'), local('Rubik-Light'),
    url('../fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-Light.woff') format('woff'),
    url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-LightItalic.eot');
    src: local('Rubik Light Italic'), local('Rubik-LightItalic'),
    url('../fonts/Rubik/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik/Rubik-LightItalic.woff2') format('woff2'),
    url('../fonts/Rubik/Rubik-LightItalic.woff') format('woff'),
    url('../fonts/Rubik/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-BoldItalic.eot');
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
    url('../fonts/Inter/Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-BoldItalic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-BoldItalic.woff') format('woff'),
    url('../fonts/Inter/Inter-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-MediumItalic.eot');
    src: local('Inter Medium Italic'), local('Inter-MediumItalic'),
    url('../fonts/Inter/Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-MediumItalic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-MediumItalic.woff') format('woff'),
    url('../fonts/Inter/Inter-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-ThinItalicBETA.eot');
    src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'),
    url('../fonts/Inter/Inter-ThinItalicBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-ThinItalicBETA.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ThinItalicBETA.woff') format('woff'),
    url('../fonts/Inter/Inter-ThinItalicBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
    url('../fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Black.eot');
    src: local('Inter Black'), local('Inter-Black'),
    url('../fonts/Inter/Inter-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-Black.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Black.woff') format('woff'),
    url('../fonts/Inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-BlackItalic.eot');
    src: local('Inter Black Italic'), local('Inter-BlackItalic'),
    url('../fonts/Inter/Inter-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-BlackItalic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-BlackItalic.woff') format('woff'),
    url('../fonts/Inter/Inter-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-LightBETA.eot');
    src: local('../fonts/Inter/Inter Light BETA'), local('Inter-LightBETA'),
    url('../fonts/Inter/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-LightBETA.woff2') format('woff2'),
    url('../fonts/Inter/Inter-LightBETA.woff') format('woff'),
    url('../fonts/Inter/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
    url('../fonts/Inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-ExtraBoldItalic.eot');
    src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
    url('../fonts/Inter/Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Inter/Inter-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
    url('../fonts/Inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-ExtraLightItalicBETA.eot');
    src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'),
    url('../fonts/Inter/Inter-ExtraLightItalicBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ExtraLightItalicBETA.woff') format('woff'),
    url('../fonts/Inter/Inter-ExtraLightItalicBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-ExtraLightBETA.eot');
    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
    url('../fonts/Inter/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-ExtraLightBETA.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ExtraLightBETA.woff') format('woff'),
    url('../fonts/Inter/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-ExtraBold.eot');
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
    url('../fonts/Inter/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ExtraBold.woff') format('woff'),
    url('../fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-ThinBETA.eot');
    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
    url('../fonts/Inter/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-ThinBETA.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ThinBETA.woff') format('woff'),
    url('../fonts/Inter/Inter-ThinBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-LightItalicBETA.eot');
    src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'),
    url('../fonts/Inter/Inter-LightItalicBETA.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-LightItalicBETA.woff2') format('woff2'),
    url('../fonts/Inter/Inter-LightItalicBETA.woff') format('woff'),
    url('../fonts/Inter/Inter-LightItalicBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Italic.eot');
    src: local('Inter Italic'), local('Inter-Italic'),
    url('../fonts/Inter/Inter-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-Italic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Italic.woff') format('woff'),
    url('../fonts/Inter/Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBoldItalic.eot');
    src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
    url('../fonts/Inter/Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Inter/Inter-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
    url('../fonts/Inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}




